* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li,
ol {
  list-style: none;
}

body {
  font-family: sans-serif;
  background-color: #0f172a;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
  overflow-x: hidden;
  color: rgb(255, 253, 253);
}

header {
  display: flex;
  margin: 30px;
  flex-direction: column;
  width: 90%;
  gap: 20px;
}

header h1 {
  font-size: 3rem;
  color: aliceblue;
  position: relative;
}
.saudacoes {
  gap: 2vh;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.saudacoes p {
  font-size: 1.5rem;
}
header h1::after {
  content: " ";
  width: 0%;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: 0;
  border-radius: 10px;
  left: 0;
  animation: borda 4s ease forwards;
}

@keyframes borda {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

header p {
  color: aliceblue;
}

section {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 90%;
  height: auto;
}
.apresentacao {
  background-color: #1e293b;
  border-radius: 10px;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: start;
  padding-block: 100px;
  padding-inline: 30px;
  gap: 2vw;
}
.sobre {
  width: 90%;
}
.apresentacao p {
  font-size: 25px;
  font-weight: 500;
  display: flex;
  align-items: start;
  justify-content: end;
}
.info-portifolio {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2vh;
  height: 80%;
  width: 70%;
}
.image {
  width: 30%;
  display: flex;
  justify-content: start;
  align-items: start;
  height: 100%;
}
.image img {
  border-radius: 10px;
  width: 90%;
  object-fit: cover;
}
.info-portifolio h3 {
  font-size: 1.8rem;
}
.info-portifolio h2 {
  font-size: 2.3rem;
}

.descriaco {
  display: flex;
  flex-direction: column;
  height: 95%;
  justify-content: space-around;
  background-color: aqua;
}
.habilidades {
  margin-top: 5vh;
  width: 100%;
  /* background-color: aqua; */
  height: auto;
  gap: 3vh;
  padding-block: 5vh;
  padding-inline: 5vw;
  display: flex;
  flex-direction: column;
}
.habilidades h2 {
  font-size: 2.5rem;
  position: relative;
}
.habilidades h2::after {
  content: " ";
  width: 0%;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: 0;
  border-radius: 10px;
  left: 0;
  animation: borda 4s ease forwards;
}
.info-habilidades {
  width: 100%;
  gap: 2vh;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.liguagem {
  height: 525px;
  width: 480px;
  background-color: #274060;
  border-radius: 10px;
  padding-left: 20px;
  padding-block: 20px;
}
.liguagem:hover {
  transform: scale(1.03);
  opacity: 1;
}
.liguagem h3 {
  font-size: 1.8rem;
}
.liguagem ul {
  display: flex;
  list-style-type: disc;
  flex-direction: column;
  justify-content: center;
  gap: 3vh;
  padding: 20px;
}
.liguagem ul li {
  font-size: 1.3rem;
}
.liguagem ul li .icon-dev {
  font-size: 2.5rem;
}

.fremeworks {
  height: 525px;
  width: 480px;
  background-color: #2a3f5f;
  border-radius: 10px;
  padding-left: 20px;
  padding-block: 20px;
}
.fremeworks:hover {
  transform: scale(1.03);
  opacity: 1;
}
.fremeworks h3 {
  font-size: 1.8rem;
}
.fremeworks ul {
  display: flex;
  list-style-type: disc;
  flex-direction: column;
  justify-content: center;
  gap: 3vh;
  padding: 20px;
}
.fremeworks ul li {
  font-size: 1.3rem;
}
.fremeworks ul li .icon-dev {
  font-size: 2.5rem;
}

.banco {
  height: 525px;
  width: 480px;
  background-color: #274060;
  border-radius: 10px;
  padding-left: 20px;
  padding-block: 20px;
}
.banco:hover {
  transform: scale(1.03);
  opacity: 1;
}
.banco h3 {
  font-size: 1.8rem;
}
.banco ul {
  display: flex;
  list-style-type: disc;
  flex-direction: column;
  justify-content: center;
  gap: 3vh;
  padding: 20px;
}
.banco ul li {
  font-size: 1.3rem;
}
.banco ul li .icon-dev {
  font-size: 2.5rem;
}

.plataformas {
  height: 525px;
  width: 480px;
  background-color: #2a3f5f;
  border-radius: 10px;
  padding-left: 20px;
  padding-block: 20px;
}
.plataformas:hover {
  transform: scale(1.03);
  opacity: 1;
}
.plataformas h3 {
  font-size: 1.8rem;
}
.plataformas ul {
  display: flex;
  list-style-type: disc;
  flex-direction: column;
  justify-content: center;
  gap: 3vh;
  padding: 20px;
}
.plataformas ul li {
  font-size: 1.3rem;
}
.plataformas ul li .icon-dev {
  font-size: 2.5rem;
}

.projetos {
  margin-top: 5vh;
  width: 100%;
  height: auto;
  gap: 3vh;
  padding-block: 5vh;
  padding-inline: 5vw;
  display: flex;
  flex-direction: column;
}
.projetos h2 {
  font-size: 2.5rem;
  position: relative;
}
.projetos h2::after {
  content: " ";
  width: 0%;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: 0;
  border-radius: 10px;
  left: 0;
  animation: borda 4s ease forwards;
}
.info-projetos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  gap: 2vw;
  /* height: 100%; */
}
.card {
  height: 525px;
  width: 480px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #2a3f5f;
}
.card:hover {
  transform: scale(1.03);
  opacity: 1;
}
.imagePro {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-block: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
}
.imagePro img {
  border-radius: 10px;
  width: 100%;
  object-fit: contain;
}
.info-card {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  height: 60%;
  font-size: 1.2rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px;
}
.info-card ul {
  display: flex;
  gap: 1vh;
  flex-direction: column;
}
.formacao {
  margin-top: 5vh;
  width: 100%;
  height: auto;
  gap: 3vh;
  padding-block: 5vh;
  padding-inline: 5vw;
  display: flex;
  flex-direction: column;
}
.formacao h2 {
  font-size: 2.5rem;
  position: relative;
}
.formacao h2::after {
  content: " ";
  width: 0%;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: 0;
  border-radius: 10px;
  left: 0;
  animation: borda 4s ease forwards;
}

footer {
  background-color: #1e293b;
  height: 25vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contato {
  display: flex;
  gap: 2vh;
  flex-direction: column;
}
footer h2 {
  font-size: 2.5rem;
}
